
.lgpd_wd{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    z-index:100;
    color: #353535;
}
.lgpd_wd_box {
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 35px -14px rgba(0,0,0,0.64);
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    min-width: 320px;
    max-width: 410px;
    margin: auto;
    z-index: 9999;
}
.lgpd_wd_content {
    padding: 10px 20px;
}
.lgpd_wd_mx-20 {
    margin: 0 20px;
}
.lgpd_wd_my-20 {
    margin: 20px 0;
}
.lgpd_wd_my-auto {
    margin: 0 auto;
}
.lgpd_wd_mx-auto {
    margin: auto 0;
}
.lgpd_wd_width-80 {
    width: 80%;
}
.lgpd_wd_width-100 {
    width: 100%;
}
.lgpd_wd_display-flex {
    display: flex;
}
.lgpd_wd_flex-column {
    flex-direction: column;
}
.lgpd_wd_flex-row {
    display: flex;
    flex-direction: row;
}
.lgpd_wd_flex-row {
    display: flex;
    flex-direction: row;
}
.lgpd_wd_text-bold {
    font-weight: 700;;
}
.lgpd_wd_buttons div {
    width: 120px;
    border-radius: 15px;
    text-align: center;
    padding: 5px 0;
    margin: auto;
    font-family: sans-serif, Verdana, Geneva, Tahoma
}
.lgpd_wd_buttons-config div {
    width: 180px;
    border-radius: 15px;
    text-align: center;
    padding: 5px 0;
    margin: auto;
    background-color: #227E00;
    border: 1px solid #227E00;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: sans-serif, Verdana, Geneva, Tahoma
}
.lgpd_wd_buttons_green{
    background-color: #227E00;
    border: 1px solid #227E00;
}
.lgpd_wd_buttons_green div{
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}
.lgpd_wd_buttons_gray{
    background-color: #fff;
    border: 1px solid #353535;
}
.lgpd_wd_buttons_gray div{
    color: #353535;
    font-size: 12px;
    text-transform: uppercase;
}
.lgpd_wd_title{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #353535;
    padding-bottom: 15px;
}
.lgpd_wd_text{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.lgpd_wd_links {
    padding: 0 0 15px 0;
    margin: auto;
    text-align: center;
}
.lgpd_wd_links a {
    color: #227E00;
    font-size: 12px;
    text-decoration: underline;
}
.lgpd_wd_infos {
    padding-bottom: 20px ;
}
.lgpd_wd_config_title {
    font-size: 12px;
    font-weight: 700;
}
.lgpd_wd_config_text {
    font-size: 12px;
}
.lgpd_wd_switch{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lgpd_wd_onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    margin-left: auto;
    margin-right: auto;
}
.lgpd_wd_onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.lgpd_wd_onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}
.lgpd_wd_onoffswitch-inner {
    display: block; width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.lgpd_wd_onoffswitch-inner:before, .lgpd_wd_onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.lgpd_wd_onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #227E00;
    color: #FFFFFF;
}
.lgpd_wd_onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #B7B7B7;
    color: #B7B7B7;
    text-align: right;
}
.lgpd_wd_onoffswitch-checkbox:checked + .lgpd_wd_onoffswitch-label .lgpd_wd_onoffswitch-inner {
    margin-left: 0;
}
.lgpd_wd_onoffswitch-checkbox:checked +.lgpd_wd_onoffswitch-label .lgpd_wd_onoffswitch-switch {
    display: flex;
    width: 22px;
    margin: 1px 0px 0px 37px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    background-image: url(.././imgs/check.png);
    background-repeat: no-repeat;
    height: 22px;
    z-index: 10000;
    background-size: cover;
}
.lgpd_wd_onoffswitch-checkbox:not(:checked) + .lgpd_wd_onoffswitch-label .lgpd_wd_onoffswitch-switch {
    display: flex;
    width: 22px;
    margin: 1px 0px 0px 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    background-image: url(.././imgs/uncheck.png);
    background-repeat: no-repeat;
    height: 22px;
    z-index: 10000;
    background-size: cover;
}
.lgpd_wd_pointer {
    cursor: pointer;
}
.lgpd_wd_close {
    position: absolute;
    right: 15px;
    top: 12px;
    bottom: 0;
    margin-left: auto;
    height: 33px;
    z-index: 10;
}
.lgpd_wd_opacity-label {
    opacity: 0.6;
}
.lgpd_wd_config {
    position: fixed;
    bottom: 0px;
    left: 0;
    background: #fff;
    padding: 5px;
    margin: 19px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: #000;
    -webkit-box-shadow: -7px 8px 60px -9px rgba(0,0,0,0.66);
    -moz-box-shadow: -7px 8px 60px -9px rgba(0,0,0,0.66);
    box-shadow: -4px 7px 24px -7px rgba(0,0,0,1);
    z-index: 9999;
}

